@define-color accent_color #a2c9fd;
@define-color accent_fg_color #001c37;
@define-color accent_bg_color #a2c9fd;
@define-color window_bg_color #111418;
@define-color window_fg_color #e1e2e8;
@define-color headerbar_bg_color #111418;
@define-color headerbar_fg_color #e1e2e8;
@define-color popover_bg_color #111418;
@define-color popover_fg_color #e1e2e8;
@define-color view_bg_color #111418;
@define-color view_fg_color #e1e2e8;
@define-color card_bg_color #111418;
@define-color card_fg_color #e1e2e8;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;